[Unit]
Description=DCI OpenStack Agent

[Service]
Type=oneshot
WorkingDirectory=/usr/share/dci-openstack-agent
EnvironmentFile=/etc/dci-openstack-agent/dcirc.sh
ExecStart=/usr/share/dci-openstack-agent/dci-openstack-agent.sh run
ExecStart=/usr/share/dci-openstack-agent/dci-openstack-agent.sh stop
SuccessExitStatus=0
User=dci-openstack-agent

[Install]
WantedBy=default.target
