# File created by the dci-openstack-agent
[Service]
{% for var_name in ['http_proxy', 'https_proxy', 'no_proxy'] %}
{% set val = lookup('env', var_name) %}
{% if val %}
Environment="{{ var_name|upper }}={{ val }}"
{% else %}
# No {{ var_name|upper }} environment variable was defined
{% endif %}
{% endfor %}
