# File created by the dci-ansible-agent
{% for var_name in ['http_proxy', 'https_proxy'] %}
{% set val = lookup('env', var_name) %}
{% if val %}
[Service]
Environment="{{ var_name|upper }}={{ val }}/"
{% else %}
# No {{ var_name|upper }} environment variable was defined
{% endif %}
{% endfor %}
