Listen {{ dci_base_ip }}:80
<VirtualHost {{ dci_base_ip }}:80>
    DocumentRoot "{{ dci_mirror_location }}"
    ErrorLog "/var/log/httpd/dci_error_log"
    CustomLog "/var/log/httpd/dci_access_log" combined
</VirtualHost>
